@use 'helpers' as *;

@use 'helpers/color' as *;

@use 'mixins' as *;

@use 'components' as *;

@use 'layouts' as *;

:root {
  --as-color-primary: #{$as-color-primary};
  --as-color-secondary: #{$as-color-secondary};
  --as-color-secondary-2: #{$as-color-secondary-2};
  --as-color-white: #{$as-color-white};
  --as-color-blue: #{$as-color-blue};
  --as-color-blue-light: #{$as-color-blue-light};
  --as-color-blue-dark: #{$as-color-blue-dark};
  --as-color-orange: #{$as-color-orange};
  --as-color-orange-light: #{$as-color-orange-light};
  --as-color-orange-dark: #{$as-color-orange-dark};
  --as-color-red: #{$as-color-red};
  --as-color-red-light: #{$as-color-red-light};
  --as-color-red-dark: #{$as-color-red-dark};
  --as-color-green: #{$as-color-green};
  --as-color-green-light: #{$as-color-green-light};
  --as-color-green-dark: #{$as-color-green-dark};
  --as-color-yellow: #{$as-color-yellow};
  --as-color-yellow-light: #{$as-color-yellow-light};
  --as-color-yellow-dark: #{$as-color-yellow-dark};
  --as-color-black: #{$as-color-black};
  --as-color-soft: #{$as-color-soft};
  --as-color-disable: #{$as-color-disable};
  --as-color-gray: #{$as-color-gray};
  --as-color-gray-light: #{$as-color-gray-light};
  --as-color-gray-dark: #{$as-color-gray-dark};
  --as-color-divider: #{$as-color-divider};
  --as-color-border: #{$as-color-border};

  --as-shadow-1: #{$as-shadow-black-1};
  --as-shadow-2: #{$as-shadow-black-2};
  --as-shadow-3: #{$as-shadow-black-3};

  --as-shade-80: #{$as-shade-80};
  --as-shade-64: #{$as-shade-64};
  --as-shade-32: #{$as-shade-32};
  --as-shade-18: #{$as-shade-18};
  --as-shade-12: #{$as-shade-12};

  --as-gradient-blue: #{$as-grad-blue};
  --as-gradient-red: #{$as-grad-red};
  --as-gradient-green: #{$as-grad-green};
  --as-gradient-orange: #{$as-grad-orange};

  --as-font-regular: 'NunitoSansRegular', sans-serif;
  --as-font-semibold: 'NunitoSansSemibold', sans-serif;
  --as-font-bold: 'NunitoSansBold', sans-serif;
}

@import 'vendor/bootstrap/bootstrap';

body {
  background-color: var(--as-color-white);
  box-sizing: border-box;
  color: var(--as-color-primary);
  font-family: var(--as-font-regular);
  font-size: 1rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
  transition: all 0.3s;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  hyphens: auto;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;
}